<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      body {
        padding-left: auto;
        padding-right: auto;
        padding-top: 10%;
        padding-bottom: auto;
      }

      #divElement{
          margin-top: auto;
          margin-left: auto;
          margin-right: auto;
          margin-left: auto;
          width: 600px;
          height: 100px;
          text-align:center;
      }​

      #btn_link{
        text-decoration: none;
      }
    </style>
  </head>

  <body>
    <div id="divElement">
      <h3>Cetak SGE sudah pernah dilakukan untuk nomor SGE <br><%= @pawn_transaction.sge %></h3>
    <a style="text-decoration: none;" href="https://gcore-sispus.doterb.com"> << Kembali ke dashboard sispus</a>
    </div>
  </body>
</html>